@-webkit-keyframes show {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 30px;
  }
}@keyframes show {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 30px;
  }
}
html {
  font-size: 18px;
}

body {
  margin: 0;
}

.img-logo {
  width: 120px;
}

header {
  z-index: 9;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 10px;
  max-height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
}
header a {
  color: #000;
  padding: 12px;
  text-decoration: none;
  font-size: 23px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
header a:hover {
  color: #6b6a6a;
}
header a.logo {
  font-size: 25px;
  font-weight: bold;
  
}
header a.active {
  background-color: #000;
}

.link-head a{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

.wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -50px;
}

.cart_btn:hover {
  cursor: pointer;
}

nav {
  margin-bottom: 20px;
  margin-right: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
        
}

nav a{
  color:#000030;
}

.lines {
  position: fixed;
  right: 15px;
  top: 35px;
  border-bottom: 17px double #000;
  border-top: 6px solid #000;
  content: "";
  height: 5px;
  width: 30px;
  display: none;
}

.lines-2 {
  position: fixed;
  right: 15px;
  top: 35px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  content: x;
  height: 5px;
  width: 30px;
  font-size: 30px;
  color: #000;
  display: none;
}

.burger-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: show 0.5s;
          animation: show 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.conteiner-burg{
  top: 90px;
  position: fixed;
  background: #ffffff;
  width: 100%;
  height: 258px;
}


.conteiner-burg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.conteiner-burg a {
  color: #000030;
  text-decoration: none;
  font-size: 23px;
}
.conteiner-burg a:hover {
  color: #000030;
  text-decoration: none;
  color: #000030;
}

.info {
  padding-top: 75px;
  min-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", Arial, sans-serif;
}

.label {
  text-align: center;
  max-width: 1096px;
  margin-top: 100px;
  font-weight: 600;
  color: #000030;
  font-size: 45px;
}


.WhatsApp-btn{
  text-decoration: none;
  margin-top: 50px;
  font-weight: 600;
  color: #ffffff;
  width: 350px;
  height: 50px;
  justify-content:center;
  align-items: center; /*добавленное свойство*/
  display: flex; /*добавленное свойство*/
  background-color: #017732;
  font-size: 30px;
  text-align: center;
  border-radius: 7px;
}

.description {
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.shop-label {
  width: 70%;
  font-size: 30px;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.shop-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-grid {
  max-width: 70%;
  height: auto;
  margin: 100px 0 0 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px 200px;
  justify-items: center;
}

.shop-item {
  display: inline-block;
  max-width: 400px;
 
  margin-bottom: 100px;
  /* overflow: hidden; */
  font-family: 'Open Sans', sans-serif;
  
}

.shop-item-error{
  display: inline-block;
 
  min-height: 550px;
  font-size: 70px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.shop-item-img {
  display: block;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 43px rgba(0,0,0,0.3);
          
}


.preview-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.preview-text {
  margin: 20px 0px 0px 0px;
  max-width: auto;

  color: rgb(0, 0, 0);
  z-index: 9 !important;
  overflow: hidden;
}

.product-name {
  font-weight:bolder;
  font-size: 22px;
  text-align: center;

}

.product-name-cart{
  color: #000030;
  font-weight: bolder;
  font-size: 25px;
}



.short-description {
  margin: 15px 0px 0px 0px;
  font-size: 17px;
}

.product-price {
  color: #000030;
  margin: 15px 0px 30px 0px;
  font-weight: bolder;
  font-size: 25px;
}



.btn-WhatsApp{
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration:none;
  color: #26ca05;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: all 0.1s ease-in-out;
}

.btn-WhatsApp img{
  width: 100px;
  transition: width 0.1s ease-in-out;
}

.btn-WhatsApp:hover {
  transform: scale(1.1);
}

.btn-WhatsApp:hover img{
  width: 110px;
}

.btn-WhatsApp:hover{
  font-size: 18px;
}



.description-market {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  /* margin-top: 40px; */
  margin-bottom: 125px;
  max-width: 1068px; 
  margin-left: auto;
  margin-right: auto; 
}



.description-market p{
  color: #000030;
  margin-bottom: 20px;
  text-align: center;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}

footer{
  
  display: flex;
  width: 100%;
  min-height: 50%;
  flex-direction: column;
  background-color: #f3f3f3;

}

.footer-title{
  position: relative;
  top: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  color: #000030;
}


.footer-warp{
  margin-bottom: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-warp p{
  color: #000030;
  width: 490px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1.7;
  transition: all 0.2s ease;
  font-family: 'Open Sans', sans-serif;
}

.form-warp{
  margin-left: 10%;
}

.form-warp input{
  font-size: 18px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 0;
  padding: 15px 7px 15px 7px;
  margin-bottom: 10px;
  margin-right: 12px;
}
.warp-form-inp-radio{
  display: flex;
}
.warp-radio{
  color: #000030;
  position: relative;
  top: 8px;
  display: inline-flex;
  max-width: 230px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
 
}

.custom-checkbox{
  
  margin-top: -10px;
  margin-right: -13px;
}

.btn-contact-form{
  font-size: 17px;
  display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #000030;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 98%;
   
}


.btn-contact-form:hover{
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #000030;
  transition: all 0.3s;
  color: #fff;
}



.btn-index-product{
  font-size: 17px;
  font-weight: bolder;
  color: #000030;
  background: #ffffff;
  display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #000030;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
   
}


.btn-index-product:hover{
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #000030;
  transition: all 0.3s;
  color: #fff;
}

.hr-basket{
  opacity: 0.5;
}

#hr-0{
  display: none;
}

.plussBasket {
  outline: none;
  background: #ffffff;
  border-radius: 50%; /* Задаем радиус для создания круглой формы */
  width: 25px; /* Задаем ширину кнопки */
  height: 25px; /* Задаем высоту кнопки */
  border: 1px solid rgba(0, 0, 0, 0.466);
  position: relative;
  cursor: pointer;
}

.plussBasket::before {
  content: "+"; /* Устанавливаем символ "+" */
  position: absolute;
  top: 50%; /* Позиционируем символ по центру вертикали */
  left: 50%; /* Позиционируем символ по центру горизонтали */
  transform: translate(-50%, -50%); /* Центрируем символ точно по середине */
  font-size: 20px; /* Задаем размер символа */
}

.minusBasket {
  outline: none;
  background: #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.473); 
  position: relative;
  cursor: pointer;
}

.minusBasket::before {
  content: "-";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}




.footer-line{
  background-color: #000030;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-around;
    padding: 14px 0;
    position: relative;
    z-index: 99999999;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 0) and (max-width: 450px) {
  .shop-item-img {
    width: 320px;
    height: 400px;
  }
}
@media only screen and (min-width: 580px) and (max-width: 650px) {
  h1.label {
    font-size: 50px;
  }
}


