html {
  font-size: 18px;
  /* overflow-x: hidden; */
  font-family: "Roboto", Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a :active {
  color: #000030;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px 10px;
  max-height: 50px;
}

.img-logo {
  width: 250px;
}

.wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20px;
  width: 300px;
}

header a {
  color: #000;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
}

header a:hover {
  color: #6b6a6a;
}



.lines {
  position: absolute;
  right: 15px;
  top: 35px;
  border-bottom: 17px double #000;
  border-top: 6px solid #000;
  content: "";
  height: 5px;
  width: 30px;
  display: none;
}

.lines-2 {
  position: absolute;
  right: 15px;
  top: 35px;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  content: x;
  height: 5px;
  width: 30px;
  font-size: 30px;
  color: #000030;
  display: none;
}

.burger-menu {
  /* width: 780px; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: show 0.5s;
  animation: show 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes show {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 30px;
  }
}
@keyframes show {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 30px;
  }
}
.conteiner-burg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.conteiner-burg a {
  color: #000030;
  text-decoration: none;
  font-size: 23px;
}

.conteiner-burg a:hover {
  color: #ffffff;
  text-decoration: none;
  color: #6b6a6a;
}

/* Product part */
.product-perview-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 160px 0px 0px 0px;
}

.product-perview-block .product-picture-future {
  width: 100%;
  min-height: 330px;
  max-height: 500px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  white-space: nowrap;

  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.product-perview-block .product-picture-future:hover {
  cursor: pointer;
}

.product-perview-block .product-pictures-block .product-pictures {
  width: 560px;
  
  margin: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-picture {
  width: 100px;
  height: 100px;
  margin: 5px !important;
  background-size: cover;
  margin: 0px 20px 0px 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.product-picture:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.product-perview-block .product-description-block {
  width: 560px;
  height: auto;
  margin: 0px 0px 0px 20px;
}

.product-perview-block .product-description-block .product-title {
  font-size: 1.9rem;
  font-weight: 600;
  word-wrap: break-word;
  color: #000030;
}

.product-perview-block .product-description-block .product-price_block {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-perview-block .product-description-block .buy-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: #000030;
  border: 1px solid #000030;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.product-perview-block .product-description-block .buy-button:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #000030;
  transition: all 0.3s;
  color: #fff;
}

.product-perview-block .product-description-block .buy-button:active {
  background: #343434;
  border: 1px solid #343434;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: auto;
}

.product-perview-block .product-description-block .product-description {
  margin: 9px 0px 0px 0px;
  max-width: 560px;
  word-wrap: break-word;
 
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #000030;
  font-size: 16px;
}


.const-description{
  margin: 19px 0px 0px 0px;
  max-width: 560px;
  word-wrap: break-word;
 
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #000030;
  font-size: 16px;
}


.product-perview-block .product-description-block .contact-information {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-description-text{
  font-size: 19px;
  line-height: 1.55;
  font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #000030;
  
}


.const-description-text{
  font-size: 19px;
  line-height: 1.55;
  font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #000030;
  margin-bottom: 5px;
 
}


.product-size {
  color: #000030;
  margin: 12px 0;
}

.material{
  color: #000030;
  font-size: 18px;
  overflow-x: hidden;
  font-family: Roboto, Arial, sans-serif;
}
.SizeSelect {
  color: #000030;
  /* max-width: 349px; */
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
  padding: 10px 15px;
}


.SizeSelect:hover {
  
  cursor: pointer;
}
.SizeSelect:focus {
  background: 1px solid;
}
.SizeSelect .SizeSelect_item {
  
  padding: 10px 15px;
}
.SizeSelect .SizeSelect_item:hover {
  cursor: pointer;
}

.cotalog-title-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 200px 0px 0px 0px;
}

.cotalog-title-block span {
  color: #000030;
  font-size: 1.5rem;
  font-weight: 500;
}
.item-name{
  color: #000030;
}
.item-description{
  color: #000030;
}
.products-block {
  width: 960px;
  height: auto;
  margin: 100px auto;
  align-items: center;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative; /* Изменение #2: Добавим position: relative; */
}

/* Ваш CSS-код остается без изменений */


.products-block .products-grid-block {
  width: 100%;
  height: auto;
  display: -ms-grid;
  /* display: grid; */
  display: flex;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
}

.products-block .products-grid-block .item-block {
  max-width: 300px;
  height: 376px;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.products-block .products-grid-block .item-block a {
  display: block;
  width: 100%;
  height: 350px;
}

.products-block .products-grid-block .item-block a:hover {
  cursor: pointer;
}

.products-block .products-grid-block .item-block .item-picture {
  width: 300px;
  height: 300px;
  background: #000;
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}


.products-block .products-grid-block .item-block .item-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.products-block .products-grid-block .item-block .item-information span {
  word-wrap: break-word;
  margin: 10px 0px 0px 0px;
}

.btn-conteiner{
  max-width: 250px;
  margin-bottom: 18px;
}

.btn-warp{
  color: #000030;
  margin: 18px 30px 0px 0px;
}



.minusBasket::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.product-scroll-conteiner{
  display: flex;
  max-width: 1400px;
    margin: 0 auto;
}
.tovarSkrollPrev{
    /* left: 0; */
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* position: absolute; */
    border: 0;
    left: 146px;
    height: 56px;
    margin-right: 20px;
    margin-top: 214px;
    z-index: 0;
    width: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    box-shadow: 0 2px 8px #0000004b;
    transition: .2s ease .1s;
    transition-property: background-color,box-shadow;
    transform: translateZ(0);
    background-color: var(--badgeForegroundColor);
    opacity: .95;
    /* left: 0; */
    margin-right: -150px;
    margin-top: 214px;

}
.tovarSkrollPrev::after{
  content: "";
  transform: scaleX(-1);
    position: absolute;
    height: 32px;
    width: 32px;
    left: 12px;
    top: 12px;
    transition: .2s ease .1s;
    background-image: url('/static/img/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition-property: filter;
}
.tovarSkrollNext{
    /* position: absolute; */
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
    height: 56px;
    /* right: 0; */
    margin-top: 214px;
    z-index: 0;
    width: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    box-shadow: 0 2px 8px #0000004b;
    transition: .2s ease .1s;
    transition-property: background-color,box-shadow;
    transform: translateZ(0);
    background-color: var(--badgeForegroundColor);
    opacity: .95;
    margin-left: -170px;
    margin-top: 214px;
}
.tovarSkrollNext::after{
  content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    left: 12px;
    top: 12px;
    transition: .2s ease .1s;
    background-image: url('/static/img/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition-property: filter;
}
.tovarSkrollNext:hover{
  box-shadow: 0 2px 18px #00000098;
  
}
.tovarSkrollPrev:hover{
  box-shadow: 0 2px 18px #00000098;
  
}

@media only screen and (max-width: 1250px) {
  .product-pictures-block {
    width: 440px !important;
    height: 440px !important;
  }
  .product-description-block .product-title {
    font-size: 1.3rem !important;
  }
  .products-block {
    margin: 40px 0px 0px 0px !important;
  }
}
@media only screen and (max-width: 1100px) {
  .products-grid-block {
    -ms-grid-columns: auto auto auto !important;
    grid-template-columns: auto auto auto !important;
  }
}
@media only screen and (max-width: 920px) {
  .products-grid-block {
    -ms-grid-columns: auto auto !important;
    grid-template-columns: auto auto !important;
  }
}
@media only screen and (max-width: 1040px) {
  .product-description-block {
    width: 70vw !important;
    margin: 319px 0px 0px 0px !important;
  }
  .product-perview-block {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: auto !important;
  }
  .product-perview-block .product-description {
    max-width: 100% !important;
  }
  .product-pictures-block {
    width: 70vw !important;
    height: 70vw !important;
  }
}
@media only screen and (min-width: 0) and (max-width: 700px) {
  .products-grid-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-grid-columns: 0 0 0 !important;
    grid-template-columns: 0 0 0 !important;
    overflow-x: auto;
  }

  
  .product-perview-block .product-pictures-block .product-pictures {
    width: auto;
  }


  .products-grid-block .item-block {
    margin: 0px 0px 0px 20px;
  }
  .products-grid-block .item-picture {
    width: 225px !important;
  }
  .products-block {
    margin: 70px 0px 0px 0px !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 560px) {
  .product-pictures-block {
    width: 100vw !important;
    height: 100vw !important;
  }
  .product-description-block {
    width: 95vw !important;
  }
  .product-description-block .product-title {
    font-size: 1.3rem !important;
  }
  .products-block {
    margin: 40px 0px 0px 0px !important;
  }
}


