<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/media.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/popup.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/basket.css') }}"/>
    <script src="{{ url_for('static', filename= 'js/basket.js') }}"></script>

    <title>Document</title>
  </head>

  <body>
    <header>
      <div class="wrap-logo">
        <a href="/" class="logo"><img class="img-logo" src="/static/img/logo.png" alt=""/></a>
      </div>

      <div style="display: flex;">
        <nav class="link-head">
          <a href="/">Главная</a>
          <a id="Contacts" href="#about">Контакты</a>
          <a id="delivery-buy" href="#about">Доставка и оплата</a>
          <a id="AboutUs" href="#about">О нас</a>
          <div class="bsket-warp">
            <div class="cart_btn"></div> 
            <div class="basket-check-warp" style="display: none;">
              <div class="basket-check"></div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- burger-menu -->
    <a id="burg-btn" class="lines"></a>
    <a id="burg-btn-close" class="lines-2">✖</a>
    <div class="burger-menu" id="burger-menu" style="display: none">
      <div class="conteiner-burg">
        <div><a href="./">Главная</a></div>
        <div><a href="#about"></a>Контакт</div>
        <div><a id="delivery-buy" href="#about">Доставка и оплата</a></div>
        <div><a href="#about">О нас</a></div>
      </div>
    </div>
    <!-- burger-menu -->
    <div class="contactsPopUp-wrapper popup_item popUphidden">
      <div class="contactsPopUp-block">
        <span class="conatc-span">Контакт</span>
        <br>
        <div class="contact-warp">
          <span>Phone: + 789237324589</span>
          <span>Email: logam-group@mail.ru</span>
          <span>YouTube: <a href="https://www.youtube.com/@LOGAM-group">youtube.com/@LOGAM-group</a></span>
          <span>Telegrtam: @Owlomir </span>
          <span>Адрес производства: г. Ижевск, ул. Спортивная, д. 71</span>  
        </div>
      </div>
    </div>


    <div class="deliveryPopUp-wrapper popup_item popUphidden">
      <div class="deliveryPopUp-block">
        <span>Оформление заказа</span>
        <br>
        <div class="deliveryPopUp-conteiner">
          <div>
            1. Выберете товар и добавьте его в корзину. После того, как выбраны все необходимые позиции - перейдите в корзину.
          </div>
          <div>
            2. Заполните обязательные поля для оформления заказа и нажмите кнопку «Сделать заказ».
          </div>
          <div>
            3. После оформления заявки с Вами свяжется менеджер для уточнения заказа, составит договор и выставит счет на оплату.
          </div>
        </div>
    
        <span>Оплата</span>
        <div class="deliveryPopUp-conteiner">
          <div>
            Оплата осуществляется в два этапа:
          </div>
          <div>
            1. Авансовый платеж составляет 50%.
          </div>
          <div>
            2. Второй платеж 50% производится в день отгрузки товара.
          </div>
          <div>
            Работаем по наличному/безналичному расчету от физических лиц и юридических лиц. Возможность оплаты по счету с НДС и без НДС.
          </div>
          <div>
            Помогаем в оформлении документов для получения соц.контракта (гранта), консультируем, предоставляем всю тех.документацию, а также все необходимые документы для отчета перед службой занятости и налоговой службы.
          </div>
        </div>
    
        <span>Срок изготовления и доставка</span>
        <div class="deliveryPopUp-conteiner">
          <div>
            Срок изготовления составляет 10-14 рабочих дней или по согласованию с клиентом.
          </div>
          <div>
            Бесплатная доставка груза в пределах г. Ижевска или до терминала транспортной компании.
          </div>
          <div>
            Доставка по России и странам СНГ осуществляется транспортной компанией за счет покупателя или путем самовывоза товара со склада нашей компании в г. Ижевск.
          </div>
          <div>
            Отгрузка товара возможна только после полной оплаты заказа.
          </div>
        </div>
    
        <div>Более подробную консультацию по доставке и расчет стоимости можно получить у наших менеджеров:</div>
        <div>тел. +7 (999) 999-99-99</div>
        <div>эл.почта: logam-group@mail.ru</div>
      </div>
    </div>

    <div class="aboutusPopUp-wrapper popup_item popUphidden">
      <div class="aboutusPopUp-block">
        <span>About us:</span>
        <br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officia excepturi cum libero, quibusdam cumque ex veniam earum placeat ab minima. Alias cum fugit necessitatibus sit fugiat, nulla provident magni?</span>
      </div>
    </div>

    <div class="cart_wrapper hidden">
      <div class="cart_block">
        <div class="cart_label"><span>Корзина</span></div>
        <hr>
        <div class="cart_body"> 
          <ul class="cart_item_list">
          </ul>
        </div>
    
        <hr>
        <div class="total_price_block">
          <span class="total_price_content"></span>
        </div>
        <div class="cart_form">
          <div class="cart-input-group">
            <label for="cart_name">Ваше ФИО</label>
            <input class="cart-input" type="text" id="cart_name" placeholder="Иванов Иван Иванович">
          </div>
          <div class="cart-input-group">
            <label for="cart_email">Ваш Email</label>
            <input class="cart-input" type="email" id="cart_email" placeholder="exampl@email.dom">
          </div>
          <div class="cart-input-group">
            <label for="cart_tel">Ваш телефон</label>
            <input class="cart-input" type="tel" id="cart_tel" placeholder="+7**********" pattern="[0-9]{1}[0-9]{3}[0-9]{3}[0-9]{4}" oninput="formatTel(this)">
          </div>
          <div class="cart-input-group">
            <label for="cart_address">Адрес доставки</label>
            <input class="cart-input" type="text" id="cart_address" placeholder="Пушкинская ул., д. 276, Ижевск">
          </div>
          <div class="cart-input-group cart-input-group_SA">
            <label for="cart_address">Коментарий к заказу</label>
            <textarea name="" id="cart_comment" cols="30" rows="10"></textarea>
           
          </div>
          <button class="cart_btn_buy" onclick="btn_drop_json()">Сделать заказ</button>
        </div>
      </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=79048303535" class="btn-WhatsApp">
      <img src="../static/img/WhatsApp.png" alt="">
      <div>
        Написать
      </div>
      <div>
        WhatsApp
      </div>
    </a> 
    <main>
      <div class="info">
        <h1 class="label">{{flag_product}}</h1>
        <!-- <span class="description">Наша компания занимается производством сварочных столов 3D с системой D16.</span> -->

        
      </div>
      <div class="shop-container">
        <div class="shop-grid">
          {% for j in other_products %}
          <a href="others/product-modal/{{j[0]}}">
            <div class="shop-item" id="shop-item-{{j[0]}}">
                <div class="shop-item-img" style="background: url('./static/img/img_shop/other_product/{{j[0]}}/{{j[0]}}.jpg') no-repeat; background-position: center; background-size: cover;"></div>
              <div class="preview-text">
                <div class="product-name-cart">{{j[1]}}</div>
                <!-- <div class="short-description">{{j[3]}}</div> -->
                <div class="product-price">{{j[2]}} руб.</div>
              </div>
            </div></a>
          {% endfor %}
        </div>
      </div>
      <footer>
        <div class="footer-title">
          Обратная связь
        </div>
        <div class="footer-warp">
          <p>Для более подробной консультации Вы можете заполнить форму обратной связи и наши
              специалисты свяжутся с вами в ближайшее время.
          </p>
          <div class="form-warp">
            <div class="warp-form-inp">
              <input type="text" placeholder="Ваше ФИО">
              <input class="cart-input" type="tel" id="cart_tel" placeholder="+7**********" pattern="[0-9]{1}[0-9]{3}[0-9]{3}[0-9]{4}" oninput="formatTel(this)">
            </div>
            <div class="warp-form-inp-radio">
              <input type="text" placeholder="example@gmail.com">
              <div class="warp-radio">
              <input type="checkbox" class="custom-checkbox" id="checkPesonalData2" checked="" required=""> Согласие на обработку персональных данных.*
            </div>
            
          </div>
              <button class="btn-contact-form" type="submit">Получить консультацию</button>
          </div>
        </div>
      
      </footer>
      <div class="footer-line"> ООО «Лазер БиТ» 2020</div>
    </main>


    <script>
     let cart = JSON.parse(localStorage.getItem('cart')) || [];
      if (cart.length > 0){
        document.querySelector('.basket-check-warp').style.display = 'block';
        let count_quantity = 0
            for(j=0; j<cart.length; j++){
                count_quantity += Number(cart[j]['quantity'])
                console.log(cart[j]['quantity'])
            }
        document.querySelector('.basket-check').innerText = count_quantity
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/burger.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/modal.js') }}"></script>
  </body>
</html>
